// =============================================================================
// Created By:     Salaah Amin
// =============================================================================
// Website styling variables.
// Changes to this will affect general colour schemes.
// =============================================================================

// -----------------------------------------------------------------------------
// COLOURS
$colour-white-1: rgb(251, 251, 251);
$colour-white-2: #f2f5f6;

$colour-notification: rgb(255, 0, 34);

$colour-grey-light-1: rgb(240, 240, 240);
$colour-grey-light-2: rgb(235, 235, 235);
$colour-grey-light-3: #c1c1c1;
$colour-grey-light-4: #f9f9f9;
$colour-grey-light-5: #fbfbfb;
$colour-grey-dark-1: #707b7c;

$colour-primary-light-1: #68b3ff;
$colour-primary-bright-1: #0b73de;
$colour-primary: #2471a3;
$colour-primary-dark-1: #315b8a;

$colour-secondary: #00695c;
$colour-secondary-dark-1: #055249;
$colour-secondary-dark-1-highlighted-1: #006d60;

$colour-tertiary: #f57f17;

$colour-highlight: #d68910;

// -----------------------------------------------------------------------------
// BOX-SHADOW
$box-shadow-faint-br: 0 1.5rem 4rem rgba(0, 0, 0, 0.15);
$box-shadow-faint-br-2: #828282 5px 1px 11px -5px;
$box-shadow-faint-r: rgba(130, 130, 130, 0.56) 13px 1px 29px -4px;

$box-shadow-1: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
$box-shadow-2: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
$box-shadow-3: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
$box-shadow-4: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
$box-shadow-5: 0 19px 38px rgba(0, 0, 0, 0.3), 0 15px 12px rgba(0, 0, 0, 0.22);
