{% load static %}
<nav class="nav">
  <div class="nav__option_group">
    <div class="nav__option">
      <a class="nav__option__link nav__option__home" href="{% url 'index' %}">
        <!-- <span><i class="fas fa-chart-pie"></i></span> -->
        <img class='nav__logo' src="{% static 'img/logo_30.png' %}" alt="VisualCSV Logo"/>
      </a>
    </div>
    <!-- Data Loader -->
    <div class="nav__option">
      <a
        href="{% url 'data_loader' %}"
        class="nav__option__link {% if 'data_loader' in request.path %} nav__option__link--active {% endif %}"
      >
        <span class="nav__option__link__icon"><i class="fas fa-upload"></i></span>
        <span>Data Loader</span>
      </a>
    </div>
    <div class="nav__option">
      <a
        href="{% url 'graph_builder' %}"
        class="nav__option__link {% if 'graphbuilder' in request.path %} nav__option__link--active {% endif %}"
      >
        <span class="nav__option__link__icon"><i class="fas fa-cubes"></i></span>
        <span>Graph Builder</span>
      </a>
    </div>
  </div>
  <div class="nav__option_group">
    {% if user.is_authenticated %}
    <!-- Logout -->
    <div class="nav__option">
      <a
        href="javascript:{document.getElementById('nav-logout').submit()}"
        class="nav__option__link"
      >
        <span class="nav__option__link__icon"><i class="fas fa-sign-out-alt"></i></span>
        <span>Log Out</span>
      </a>
      <form action="{% url 'logout' %}" method="POST" id="nav-logout">
        {% csrf_token %}
        <input type="hidden" />
      </form>
    </div>
    {% else %}
    <!-- Sign Up -->
    <div class="nav__option">
      <a
        href="{% url 'register' %}"
        class="nav__option__link {% if 'register' in request.path %} nav__option__link--active {% endif %}"
      >
        <span class="nav__option__link__icon"><i class="fas fa-user-plus"></i></span>
        <span>Sign Up</span>
      </a>
    </div>
    <!-- Login -->
    <div class="nav__option">
      <a
        href="{% url 'login' %}"
        class="nav__option__link {% if 'login' in request.path %} nav__option__link--active {% endif %}"
      >
        <span class="nav__option__link__icon"><i class="fas fa-sign-in-alt"></i></span>
        <span>Login</span>
      </a>
    </div>
    {% endif %}
  </div>
</nav>
