.Dropzone {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
  border-width: 2px;
  border-radius: 2px;
  border-color: #eeeeee;
  border-style: dashed;
  background-color: #fafafa;
  color: #bdbdbd;
  outline: none;
  transition: border 0.24s ease-in-out;

  &:focus {
    border-color: #2196f3;
  }
}

.FileList {
  &__Item {
    display: flex;
    align-items: center;
  }
}

.Icon {
  display: inline-block;
  width: 20px;

  &__Success {
    color: #28a745;
  }

  &__Error {
    color: #dc3545;
  }
}

.Content {
  &__Success {
    color: #28a745;
  }

  &__Error {
    color: #c82333;
    text-transform: uppercase;
    font-style: italic;
  }
}
