{% extends 'base.html' %}
{% load static %}

{% block title %} | Load Data {% endblock %}

{% block content %}

<header class="header">
  <h1>VisualCSV</h1>
  <p>VisualCSV is an online platform where CSVs can very quickly and easily
    be converted into graphs.
  </p>
</header>

<main class="main">
  <h2>How Does it Work</h2>
  <p>
    With every CSV you upload store the data as well in a database. We also
    ensure that the system is aware that the data you have uploaded belongs to
    you only.
  </p>
  <p>
    Once you have uploaded all your CSVs you can simply visit the
    <a href="{% url 'graph_builder' %}">graph builder</a> page and start
    creating your graphs.
  </p>
  <h2>Getting Started</h2>
  <p>
    Make sure you are <a href="{% url 'login' %}" target="_black">logged in</a>
    as the system needs to know who the uploaded files belong to.
</p>
<p>
  Head over to the
  <a href="{% url 'data_loader' %}" target="_blank">data loader</a> and start
  uploading your CSVs.
</p>
<p>
  Once you have uploaded your CSVs and you're happy to proceed, you can move
  onto the fun bit. Head over to
  <a href="{% url 'graph_builder' %}" target="_blank">graph builder</a>
  and start building your graph!
</p>
</main>

{% endblock %}

{% block footer %}{% endblock %}
