{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="{% static 'icons/icons.css' %}" />
    <link rel="stylesheet" href="{% static 'css/main.min.css' %}" />
    {% block head %}{% endblock %}
    <title>Visual CSV{% block title %}{% endblock %}</title>
  </head>
  <body>
    {% include 'partials/_navigation.html' %}
    {% block content %}{% endblock %}
</body>
{% block footer %}{% endblock %}
</html>
